a{text-decoration: none;}
body { margin: 0; padding: 0;
    background:url(background1.jpg) no-repeat fixed;
    background-size: 100%;
    background-position: 0 -150px;
}
.box {
    width: 310px;
    height: 440px;
    margin: 100px 0 0 350px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px  rgba(0, 0, 0 , 0.3);
    background-image: linear-gradient(to bottom right, rgba(217, 255, 0, 0.2), rgba(225, 0, 255, 0.2),rgba(255, 0, 0, 0.2))
}